body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
}

a {
  color: black;
}

#news-block {
  font-size: 20px;
  position: relative;
}

#weather-block {
  font-size: 20px;
  position: relative;
  padding: 10px;
}

.featured-image {
  width: 40%;
}

.table-format {
  font-size: 12px !important;
}

@media (max-width: 768px) {

  #news-block {
    font-size: 12px;
  }

}