<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>MARS!</title>
  </head>
  <header class="container-fluid">
    <div class="jumbotron" style="text-align: center;">
        <h1 class="display-4">Hello, Mars!</h1>
        <p class="lead">What we know about Mars is always changing and growing, thanks to Opportunity, Curiosity, and Insight.</p>
        <hr class="my-4" style="width: 50%;">
        <p>Click the button below to collect the most recent information!</p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
    </div>
  </header>
  <body style="background-color: black;">
    <div class="container-fluid">
        <div class="row justify-content-around mx-1">
            <div class="col-lg-6 col-sm-12" style="background-color: antiquewhite">
                <img class="m-2" src="{{scrapes[0].featured_image}}" alt="Featured Image" style="height: 300px; float: right; padding: 5px; margin-top: 10px;">
                <section class="news-block" style="padding: 10px;">
                    <p><h1>Recent News</h1></p>
                    <hr align="left" width="50%">
                    <p><h3>{{scrapes[0].mars_news_title}}</h3></p>
                    <p style="font-size: 24px;">{{scrapes[0].mars_news_p}}</p>
                </section>
                <section class="facts-table m-2" style="float: left; width: 50%; padding-right: 30px;">{{scrapes[0].mars_facts|safe}}</section>
                <section class="weather-block" style="padding: 10px;">
                    <p><h1>Weather</h1></p>
                    <hr align="right" width="50%">
                    <p style="font-size: 24px;">{{scrapes[0].mars_weather}}</p>
                </section>
            </div>
            <div class="col-lg-4 col-sm-12" style="background-color: antiquewhite">
                <h1>Hemispheres</h1>
                <hr>
                <div class="container py-1">
                    <div class="row py-1">
                        <div class="col-md-6 col-sm-12 py-3">
                            <img src="{{ scrapes[0].hemisphere_images[0].url }}" class="img-fluid" alt="{{ scrapes[0].hemisphere_images[0].title }}">
                            <section class="text-center p-2" style="font-size: 16px;">{{ scrapes[0].hemisphere_images[0].title }}</section>
                        </div>
                        <div class="col-md-6 col-sm-12 py-3">
                            <img src="{{ scrapes[0].hemisphere_images[1].url }}" class="img-fluid" alt="{{ scrapes[0].hemisphere_images[1].title }}">
                            <section class="text-center p-2" style="font-size: 16px;">{{ scrapes[0].hemisphere_images[1].title }}</section>
                        </div>
                    </div>
                </div>
                <div class="container py-1">
                    <div class="row py-1">
                        <div class="col-md-6 col-sm-12 py-3">
                            <img src="{{ scrapes[0].hemisphere_images[2].url }}" class="img-fluid" alt="{{ scrapes[0].hemisphere_images[2].title }}">
                            <section class="text-center p-2" style="font-size: 16px;">{{ scrapes[0].hemisphere_images[2].title }}</section>
                        </div>
                        <div class="col-md-6 col-sm-12 py-3">
                            <img src="{{ scrapes[0].hemisphere_images[3].url }}" class="img-fluid" alt="{{ scrapes[0].hemisphere_images[3].title }}">
                            <section class="text-center p-2" style="font-size: 16px;">{{ scrapes[0].hemisphere_images[3].title }}</section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>